/* Coolors Exported Palette - coolors.co/d92027-922320-401413-d8d8d8-000000 */

/* HSL */
$color1: hsla(358%, 74%, 49%, 1);
$color2: hsla(2%, 64%, 35%, 1);
$color3: hsla(1%, 54%, 16%, 1);
$color4: hsla(0%, 0%, 85%, 1);
$color5: hsla(0%, 0%, 0%, 1);

/* RGB */
$color1: rgba(217, 32, 39, 1);
$color2: rgba(146, 35, 32, 1);
$color3: rgba(64, 20, 19, 1);
$color4: rgba(216, 216, 216, 1);
$color5: rgba(0, 0, 0, 1);