$black: #2a0000;
$primary: #d71c23;
$link: #14b7ad;
$dark: #1c212e;
$light: #b1ded9;

$body-color: $dark;
$link-hover: darken($link, 10%);
$navbar-height: 6rem;
$navbar-item-img-max-height: 4rem;
$family-primary: "Source Sans Pro", sans-serif;
//$strong-color: red;

$dimensions: 16 24 32 48 64 96 128 256 512;

// Boxes
$box-radius: 0;
